.auth_wap{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    flex-direction: column;
    align-items: center;
    font-family:Source Han Sans SC;
    font-weight:400;
    .title{
        width: 100%;
        height: .88rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .3rem;
        border-bottom: solid 1px rgba(239,239,239,1);
        font-size:.32rem;
        color:rgba(68,68,68,1);
        .left{
            width: .15rem;
            height: .15rem;
            border-top: solid 1px rgba(68,68,68,1);
            border-left: solid 1px rgba(68,68,68,1);
            transform: rotate(-45deg)
        }
        .cent{
            font-weight:bold;
        }
    }
    .name_li{
        display: flex;
        align-items: center;
        width: 95%;
        height: 1.1rem;
        border-bottom: solid 1px rgba(239,239,239,1);
        margin-bottom: .3rem;
        font-size: .3rem;
        input{
            display: block;
            text-align: right;
            height: 1rem;
            border: none;
            outline: none;
            padding-left: .3rem;
            width: 80%;
        }
        .hasdata{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .tip{
        display: flex;
        width: 100%;
        height: 1.08rem;
        background:rgba(242,242,242,1);
        font-size:.24rem;
        align-items: center;
        padding-left: .3rem;
    }
    .commit_btn{
        margin-top: 5.5rem;
        width:6.9rem;
        height:.8rem;
        background:rgba(148,238,211,1);
        border-radius:.1rem;
        border:none;
        color:rgba(255,255,255,1);
        font-size:.36rem;
    }
}